<table width="100%" style="width:100%;background-color:#d13f3f;border-color:#d13f3f;border-radius:8px;margin-right:40px;">
    <tr>
        <td>

            <table width="100%" style="width: 100%">
                <tr>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                    <td></td>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                </tr>
                <tr>
                    <td width="20px" style="width:20px;"></td>
                    <td style="text-align:center;">
                        {{#if ButtonSecondaryLink}}
                            <a href="{{ButtonSecondaryLink}}" target="_blank" style="text-decoration:none;">
                        {{/if}}
                            <span style="font-size:16px;color:#ffffff;font-weight:600;">
                                {{ButtonSecondaryText}}
                            </span>
                        {{#if ButtonSecondaryLink}}
                            </a>
                        {{/if}}
                    </td>
                    <td width="20px" style="width:20px;"></td>
                </tr>
                <tr>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                    <td></td>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>