<table width="100%" style="width:100%;background-color:#FFFFFF;;border-color:#FFFFFF;;border-radius:8px;margin-right:40px;">
    <tr>
        <td>

            <table width="100%" style="width: 100%">
                <tr>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                    <td></td>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                </tr>
                <tr>
                    <td width="20px" style="width:20px;"></td>
                    <td style="text-align:center;">
                        {{#if ButtonPrimaryLink}}
                            <a href="{{ButtonPrimaryLink}}" target="_blank" style="text-decoration: none;">
                        {{/if}}
                            <span style="font-size:16px;color:#1a1a1a;font-weight:600;">
                                {{ButtonPrimaryText}}
                            </span>
                        {{#if ButtonPrimaryLink}}
                            </a>
                        {{/if}}
                    </td>
                    <td width="20px" style="width:20px;"></td>
                </tr>
                <tr>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                    <td></td>
                    <td width="20px" height="30px" style="height:30px;width:20px;"></td>
                </tr>
            </table>

        </td>
    </tr>
</table>